.expbutton {
    background-color: #f8c740;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 15px 35px 15px 35px;
    color: #fff;
    border-radius: 300px;
    position: fixed;
    z-index: 300;
    top: 30px;
    left: 50px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.expbutton:hover {
    transform: scale(1.1);
}

.a-canvas {
    z-index: 150;
}